@import 'partials/links';

@import 'partials/positioning';

@import 'partials/font-sizes';

@import 'partials/generalstyling';


.top {
    position: absolute;
    right: 2.5%;
    top: 5%;
    display: flex;
    gap: 45px;
    @include center(vertical);
}

.top-bar {
    position: absolute;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.top a {
    @include link-style(white);
    font-weight: 600;
    font-size: 20px;
}

.top a:hover {
    text-decoration: underline;
}

header p {
    position: absolute;
    top: 6%;
    left: 5%;
    font-weight: 600;
    font-size: 30px;
    @include center(vertical);
    @include link-style(white);
}

.block-link {
    background-color: white;
    color: black !important;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    @include hover-rise();
}

.section1 {
    @include center(horizontal);
}

h1 {
    font-size: $font-h1-size;
    margin-top: 12%;
}

.section1 img {
    position: absolute;
    z-index: -5;
    top: -12%;
    right: -12%;
    opacity: 35%;
}

//Fix this later
.section1 p {
    position: absolute;
    margin-top: 22%;
    width: 60%;
    font-size: $font-p-size;
}

.section2 h2, .section3 h2 {
    border-bottom: 3px solid black;
}

.section2, .section3 {
    margin-left: 5%;
    margin-right: 5%;
}

.section2 {
    margin-top: 12%;
}

.section3 {
    h2 {
        margin-bottom: 3%;
    }
}


.tools {
    @include center(horizontal);
    @include flex-column();
    border-bottom: 3px solid black;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
}

#last-listed-tool {
    border-bottom: none;
}

.section2 h2, .section3 h2 {
    font-size: $font-h2-size;
}

.tools h3 {
    font-size: $font-h3-size;
}

.tools .download-button {
    @include link-style(white);
    @include hover-rise();
    background-color: black;
    font-size: $font-h3-size;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 15px;
    display: inline-block;
    margin: auto;
}

.tools-content {
    @include flex();
    @include center(horizontal);
    @include center(vertical);
    gap: 50px;
    margin-bottom: 2%;

    p {
        font-size: $font-p-size;
        line-height: 1.5;
    }

    h3 {
        margin-bottom: 5%;
    }

    a {
        @include link-style(black);
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.tools-content img {
    width: 50%;
    margin-top: 2.5%;
}


.section4 {
    @include flex-column();
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.connection-container {
    @include flex();
    gap: 50px;
    @include center(horizontal);

    div img {
        width: 50%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
      }
  }

  .connection-container div {
    text-align: left;
  }

  .connection-container a {
    @include link-style(black);
  }

footer {
    margin-top: 2.5%;
}


  footer p {
    margin-left: 5%;
    font-weight: 600;
    font-size: 25px;
    @include center(vertical);
  }

  footer nav {
    @include flex();
    margin-left: 5%;
    margin-top: 2.5%;
    gap: 15px;
  }

  .credits {
    @include center(horizontal);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .credits a {
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    
    html, body {
     overflow-x: hidden;
    }

    .section1 p {
        margin-top: 25%;
        width: 75%;
        font-size: $font-p-mobile;
    }

    h1 {
        font-size: $font-h1-mobile;
    }

    .section2 h2, .section3 h2 {
        font-size: $font-h2-mobile;
    }

    .section2 h3, .section3 h3 {
        font-size: $font-h3-mobile;
    }

    .section2 p, .section3 p {
        font-size: $font-p-mobile;
    }

    .top {
        gap: 8px;
        top: 2.5%;
       }

       .top-bar {
        height: 70px;
      }

       .top-bar {
        height: 70px;
      }
    
       .top a {
        font-size: 14px;
       }

       .block-link {
        border-radius: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 10px !important;
       }
    

       header p {
        font-size: $font-p-mobile;
        top: 3%;
       }

       .blog-link {
        display: none;
       }

    .section1 {
        margin-top: 10%;
        overflow-x: hidden;

    }

    .section1 img {
        left: 45%;
        top: 1%;
        max-width: 55%;
        height: auto;
        display: block;
    }

    footer p {
        margin-left: 5%;
        font-size: $font-p-mobile;
       }
    
       .credits p {
        font-size: $font-p-mobile;
       }
    
    
       .credits a {
        margin-left: 5px;
        font-size: $font-a-mobile;
      }

      .section2 {
        margin-top: 30%;
      }

      .section3 {
        margin-top: 5%;
      }

      .section2 h2, .section3 h2 {
        margin-bottom: 2.5%;
      }

      .tools-content {
        gap: 25px;
        align-items: center;
        @include flex-column();
      }

      .tools-content img {
        width: 50%;
      }

      .section4 h2 {
        font-size: $font-h2-mobile;
      }

      
    .section4 {

        h2 {
            font-size: $font-h2-mobile;
        }

        h3 {
            font-size: $font-h3-mobile;
        }

        p {
            font-size: $font-p-mobile;
        }
    }

    .connection-container {
        gap: 10px;
    }


    .tools .download-button {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
        border-radius: 12px;
        margin-top: 5%;
        margin-bottom: 3%;
        font-size: $font-h3-mobile;
    }



}


