@import '../../scss/partials/header';
@import '../../scss/partials/generalstyling';
@import '../../scss/partials/get-connected-footer';
@import '../../scss/partials/index-form';
@import '../../scss/partials/font-sizes';
@import '../../scss/partials/hamburger';
@import '../../scss/partials/text-styling';


.blog-hero {
    background-image: url('../../images/blog-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 80px 20px;
    z-index: -5;
    position: relative;
  
    h1 {
      font-size: $font-h1-size;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.25rem;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 60px 20px;
    background-color: white;
  }
  
  .blog-card {
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 25px;
    padding: 30px 25px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    a {
      text-decoration: none;
    }
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  
    .blog-title {
      font-size: 1.5rem;
      margin-bottom: 15px;
      color: black;
    }

    img {
      display: block;
      width: 100%;
      margin: auto;
      margin-bottom: 2.5%;
    }
  
    .blog-excerpt {
      font-size: 1rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    .read-more {
      display: inline-block;
      font-weight: bold;
      color: white;
      background-color: black;
      padding: 10px 20px;
      border-radius: 20px;
      text-decoration: none;
      transition: background 0.3s ease;
      
  
      &:hover {
        background-color: #333;
      }
    }
  }

  .blog-layout {
    display: flex;
  }

  .blog-content {
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
    margin-right: 5%;
    margin-bottom: 2.5%;

    img {
      display: block;
      margin: auto;
      width: 60%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }

    h1 {
      font-size: $font-h1-size;
    }

    h2, h3 {
      margin-bottom: 1%;
    }

    h2 {
      font-size: $font-h2-size;
    }

    h3 {
      font-size: $font-h3-size;
    }

    p {
      font-size: $font-p-size;
      margin-bottom: 2.5%;
    }

  }

@media screen and (max-width: 768px) {

    .blog-hero h1 {
        font-size: $font-h1-mobile;
    }

    .blog-posts {

        h2 {
            text-align: center;
        }
    }

    .blog-content {


      p {
        font-size: $font-p-mobile;
      }


      h1 {
        font-size: $font-h1-mobile;
      }

      h2 {
        font-size: $font-h2-mobile;
      }

      h3 {
        font-size: $font-h3-mobile;
      }
    }

  }
  