// Font sizes for mobile (base: 320px–480px screens)
$font-h1-mobile: 2.5rem;      
$font-h2-mobile: 1.25rem;  
$font-h3-mobile: 0.95rem;   
$font-h4-mobile: 1.25rem;   
$font-h5-mobile: 1.125rem; 

$font-p-mobile: 0.85rem;       // Paragraph text
$font-a-mobile: 0.8rem;       // Links

$font-h2-size: 40px;
$font-h3-size: 30px;
$font-a-size: 25px;
$font-h1-size: 5em;