@import 'font-sizes';


#join-us {
  @include flex-column();
  padding-left: 5%;
  padding-right: 5%;
  position: relative;

  h2 {
      font-size: $font-h2-size;
  }
}

.final {
    padding-left: 5%;
    padding-right: 5%;
}

.final h2 {
    font-size: $font-h2-size;
  }


  .connection-container div {
    text-align: left;
  }

  .connection-container a {
    @include link-style(white);
  }

footer {
  padding-top: 2.5%;
}


  footer p {
    margin-left: 5%;
    font-weight: 600;
    font-size: 25px;
    @include center(vertical);
  }

  footer nav {
    @include flex();
    margin-left: 5%;
    margin-top: 2.5%;
    gap: 15px;
  }

  .credits {
    @include center(horizontal);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .credits a {
    margin-left: 15px;
  }

  .social-media {
    @include flex-column();
    position: relative;
    left: 80%;
    bottom: 80px;
    
    

    .social-links {
      @include flex();
      gap: 25px;
      margin-top: 1.5%;
      img {
        width: 35px;
        height: 35px;
      }
    }

  }


  @media screen and (max-width: 768px) {

    h1 {
        font-size: $font-h1-mobile;
    }
    
    footer p {
        margin-left: 5%;
        font-size: $font-p-mobile;
       }
    
       .credits p {
        font-size: $font-p-mobile;
       }
    
    
       .credits a {
        margin-left: 5px;
        font-size: $font-a-mobile;
      }

      .social-media {

        left: 75%;

        h2 {
          font-size: $font-h2-mobile;
        }

        .social-links {
          img {
            width: 50%;
          }
        }
      }
    
  }
