 .green {
    color: #61AC74;
    font-weight: bold;
}

.black-white {
    background-color: black; 
    color: white
}

.lightblue {
    color: rgb(116, 175, 197);
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}
